name: editorconfig-checker

on: pull_request

jobs:
  eclint:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: Brightspace/third-party-actions@actions/checkout
      - uses: Brightspace/setup-node@main
        with:
          node-version: '20'
      - run: npx editorconfig-checker
